img {
  width: 20vh;
  height: 20vh;
<<<<<<< HEAD
  cursor:pointer;
=======
>>>>>>> 9e26a59b43fbad7b6068c3714dab64e1144b7dd4

}
h1 {
  color: black;
  font-size: 30px;


}
#btncontact {
  color: black;
}


a:link
{

 text-decoration:none;
}
